apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ ca.content }} 
    server: https://{{ hostvars[groups.kube_master[0]].ansible_default_ipv4.address }}:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubernetes
  name: k8stest
current-context: k8stest
kind: Config
preferences: {}
users:
- name: kubernetes
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1beta1
      command: kubectl
      args:
      - oidc-login
      - get-token
      - --oidc-issuer-url=https://dex.example.com:5554/dex
      - --oidc-extra-scope=email
      - --oidc-extra-scope=groups
      - --oidc-client-id=kubernetes
      - --oidc-client-secret=superdupersecret

