---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
nodeRegistration:
  criSocket: unix:///var/run/crio/crio.sock
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
clusterName: {{ kube_cluster_name }}
kubernetesVersion: {{ __version_minor }}
controlPlaneEndpoint: {{ kube_control_plane_endpoint }}:6443
apiServer:
{% if kube_oidc_ca_file is defined %}
{% set dir = kube_oidc_ca_file | dirname %}
  extraVolumes:
    - name: ca-certs
      hostPath: {{ dir }}
      mountPath: {{ dir }}
      readOnly: true
      pathType: DirectoryOrCreate
{% endif %}
  extraArgs:
    "authorization-mode": "Node,RBAC"
{% if kube_oidc_auth_enabled %}
    "oidc-issuer-url": "{{ kube_oidc_issuer_url }}"
    "oidc-client-id": "{{ kube_oidc_client_id }}"
    "oidc-username-claim": "{{ kube_oidc_username_claim }}"
    "oidc-groups-claim": "{{ kube_oidc_groups_claim }}"
    {% if kube_oidc_ca_file is defined -%}
    "oidc-ca-file": "{{ kube_oidc_ca_file }}"
    {%- endif %}
{% endif %}
